@page "/flashcards"
@using BlazorApp.Shared 
@inject HttpClient Http

<PageTitle>Flashcards</PageTitle>

<h1>Flashcards</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (flashcards == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="flashcards">
        <thead>
            <tr>
                <th>ID</th>
                <th>Question</th>
                <th>Answer</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var flashcard in flashcards)
            {
                <tr>
                    <td>@flashcard.ID</td>
                    <td>@flashcard.Question</td>
                    <td>@flashcard.Answer</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Flashcard[] flashcards = new Flashcard[]{};

    protected override async Task OnInitializedAsync()
    {
        try
        {
            flashcards = await Http.GetFromJsonAsync<Flashcard[]>("/api/Flashcard") ?? new Flashcard[]{};
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }
}
